<div class="col-md-12">
  <div class="tuyin first">
    <div id="posts">
      <span class="title">{{post.title}}</span>
      <div class="plan-name">{{post.category}}</div>
      <div class="text"><p>{{post.content}}</p></div>
    </div>
  </div>
</div>
