

a {
  color: #128FA0;
}



.form-group {
  /*position: relative;
  float: left;*/
}



.show {
  opacity: 1;
  animation-name: show;
  animation-duration: 2s;
}

.hide {
  opacity: 0;
  animation-name: hide;
  animation-duration: 2s;
}

.box {
  height: 60px;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}
