body {
  background-size: cover;
  background-position: top;
  background: rgba(59,183,120,1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(59,183,120,1), rgba(71,196,218,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(59,183,120,1), rgba(71,196,218,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(59,183,120,1), rgba(71,196,218,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(59,183,120,1), rgba(71,196,218,1)); /* Standard syntax */
  background-repeat: no-repeat;
  /*background: rgba(59,183,120,1);background: -moz-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);background: -webkit-gradient(left top, right top, color-stop(47%, rgba(59,183,120,1)), color-stop(100%, rgba(71,196,218,1)));background: -webkit-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);background: -o-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);background: -ms-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);background: linear-gradient(to right, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb778', endColorstr='#47c4da', GradientType=1 );*/
}

a {
  color: #128FA0;
}

.transparent .tuyin
{
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.37);
  border: 1px solid #F7F7F7;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
  padding: 4%;
  text-align: left;
  width: 97%;
  min-height: 315px;
  position: relative;
  margin-bottom: 25px;
}
.transparent .tuyin .title
{
  text-align: left;
  color: #FFF;
  font-size: 49px;
}
.transparent .tuyin .plan-name
{
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 15px;
  padding: 10px
}

.transparent .tuyin .text
{
  margin-top: 20px;
  color: #474747;
  font-weight: 300;
  border-bottom: 1px solid #FFF;
  margin-bottom: 13px;
  margin-left: 15px;
  font-size: 16px;
  text-align: left;
}

.form-group {
  /*position: relative;
  float: left;*/
}



.show {
  opacity: 1;
  animation-name: show;
  animation-duration: 2s;
}

.hide {
  opacity: 0;
  animation-name: hide;
  animation-duration: 2s;
}

.box {
  height: 60px;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}
